.addProduct {

  &_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #B8BCA3;
    border-radius: 25px;
    background-color: lighten(#D3D3D3, 05%);

    &_input {
      border: 1px solid #B8BCA3;
      margin-top: 20px;
      border-radius: 10px;
    }
    &_column {
      width: 400px;
      margin-left: 150px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
    }
    &_submitButton {
      background-color: #B8BCA3;
      color: white;
      border: none;
      cursor: pointer;
      margin: 20px 0 20px 250px;
      width: 200px;
      padding: 15px;
      font-size: 25px;
      border-radius: 25px;
    }
  }
}


